@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --linear-gradient-low-transparency: linear-gradient(
    45deg,
    rgba(77, 33, 252, 0.7) 0%,
    rgba(179, 98, 255, 0.7) 65%,
    rgba(251, 148, 255, 0.7) 100%
  );
  --linear-gradient-high-transparency: linear-gradient(
    45deg,
    rgba(77, 33, 252, 0.3) 0%,
    rgba(179, 98, 255, 0.3) 65%,
    rgba(251, 148, 255, 0.3) 100%
  );
}

body {
  background-color: #2d2b55;
}

#container {
  background-color: #2d2b55;
}

/* Navbar Styles */
nav {
  background: #fad000;
}

.appName {
  color: #2d2b55;
}

.navLink {
  color: #a599e9;
  font-weight: bold;
  transition: all 0.2s linear;
}

.navLink:hover {
  background: #ffee80;
  color: #4d21fc;
}

/* Content Wrapper Styles */
.contentWrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Footer Styles */
.footer {
  color: #4d21fc;
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

/* Page Content Styles */
.pageTitle {
  color: #fad000;
}

.tipsBox {
  background: var(--linear-gradient-high-transparency);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 40px;
  text-align: center;
  color: #fad000;
  font-weight: bold;
  border-radius: 10px;
}

.instructionTitle{
  color: #9EFFFF;
}

.instructionDesc {
  color: #A5FF90;
  opacity: 0.9;
}

.link {
  display: block;
  transition: all 0.2s linear;
}

.link:hover {
  font-weight: bold;
  text-decoration: underline;
  transform: scale(1.03);
}

/* NFT Card Styles */
.nftCard {
  width: 235px;
  background: var(--linear-gradient-high-transparency);
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.nftCard:hover {
  background: var(--linear-gradient-low-transparency);
  transform: scale(1.03);
}

.nftImage {
  width: 150px;
  margin: 20px auto;
}

.nftDesc {
  color: #faefa5;
}

.nftCard:hover .nftDesc {
  color: #fad000;
}

.nftCardActionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

.nftCardAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #a599e9;
  text-align: center;
}

.nftCardAction:hover {
  font-weight: bold;
  cursor: pointer;
  background: #fad000;
  color: #4d21fc;
}

.sellerAction:first-child {
  border-bottom-left-radius: 8px;
}

.sellerAction:last-child {
  border-bottom-right-radius: 8px;
}

.buyerAction {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Modal Styles Overwrite */
.ant-modal-content,
.ant-modal-header {
  background: #1e1e3f !important;
}

.ant-modal-content {
  border-radius: 0.5rem !important;
}

.ant-modal-header {
  border-radius: 0.5rem 0.5rem 0 0 !important;
  border-bottom: 1px solid #a599e9 !important;
}

.ant-modal-title {
  color: #fad000 !important;
}

.ant-modal-close {
  color: #a599e9 !important;
}

.ant-modal-body {
  padding: 2.5rem 1.5rem !important;
}

.ant-modal-footer {
  border-top: 1px solid #a599e9 !important;
}
